/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables - We define our CSS variables within a CSS rule, using the :root pseudo-class, which makes them globally accessible to the entire CSS file.*/
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620;
    /* dark brown */
    --secondary-color: #aa9581;
    /* light brown */
    --highlight-color: #416a8e;
    /* blue */
    --light-highlight: #7a9fc2;
    /*light blue */

}

/*Global Styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);

}

h1,
h2 {


    text-transform: uppercase;
}


.sub-heading-color {
    color: var(--highlight-color)
}

h2 {
    margin-bottom: 2rem;
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Buttons*/

.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}

.custom-button-filled:hover {
    border: 2px solid var(--secondary-color);
    background-color: var(--secondary-color);
    color: white;
}

.custom-button-outline {
    border: 3px solid var(--highlight-color);
    color: var(--highlight-color);
    padding: 7px 25px;
}

.custom-button-outline:hover {

    background-color: var(--highlight-color);
    color: white;
}

/*Navbar*/

#navbar {
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */

#header .lead {
    font-family: var(--secondary-font);

}


/* Services Section */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
    font-family: var(--secondary-font)
}

#services .card {
    margin-bottom: 1.5rem;
}

/* Game Library Card */

#new-games .card,
#fav-games .card {
    border: none;
}


/* Events Section*/
#events p.discount {
    background-color: var(--highlight-color);
    color: white;
    border: solid 3px;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    font-weight: bold;
}

#events-table tbody tr:hover td,
#events-table tbody tr:hover th {
    background-color: var(--highlight-color) !important;
    color: white !important;
    font-weight: bold;

}

/* Footer / Contact Section */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;

}

#contact h2 {
    color: white;
}

#contact .sub-heading-color {
    color: var(--light-highlight)
}

#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}

#contact .social-links i {
    color: var(--light-highlight);
    font-size: 1.9rem;
    transition: color 0.3s ease-in-out;
}

#contact .social-links i:hover {
    color: var(--secondary-color)
}

/*Bootstrap table was already set to black background due to ".table-dark" class, "*" To override this, we can add the wildcard selector - the asterisk - to our CSS selector,
to remove the background colour from all descendants of our table.*/
#contact .table-dark * {
    background-color: transparent;
}

/* grid visualisation CSS for testing 

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}
    */

/*Media Queries*/

/*Medium devices (tablets, 768px and up)*/

@media screen and (min-width: 768px) {

    /*Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 191px;
    }
}

/*Large devices (Laptops, 992px and up)*/
@media screen and (min-width: 992px) {

    /*Make all service cards the same height for consistency */
    #services .card-body {
        min-height: auto;
    }
}

/*Extra Large devices (Desktops, 1200px and up)*/
@media screen and (min-width: 1200px) {

    /*Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 220px;
    }
}

/*XXL devices (Desktops, 1400px and up)*/
@media screen and (min-width: 1400px) {

    /*Make all service cards the same height for consistency */
    #services .card-body {
        min-height: 195x;
    }
}